.wave {

    height: 64px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    width: 80%;
    overflow: hidden;
    color:red
}
.wave wave {
    overflow: hidden;
}
.ward {
    outline: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

.ward:hover {
    outline: none;
}
.rotate {
    transform: rotate(180deg);
}
.control {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playPause {
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    position: relative;
}

.currentTime,
.durationTime {
    margin: 0 10%;
    font-family: monospace;
    font-size: 16px;
}


.card {

    position: relative;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/
    border-top: 1px solid #a5a5a5;
    height: 50px;
    margin: 0 8px;
    cursor: pointer;
}

.card:hover {
    border: none;
    color: white;
    background: #000;
    -webkit-box-shadow: -25px 14px 11px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -25px 14px 11px 0 rgba(0, 0, 0, 0.5);
    box-shadow: -25px 14px 11px 0 rgba(0, 0, 0, 0.5)
}

.en {
    position: absolute;
    right: 20px;
}
.authors {
    /*margin: 0 auto;*/
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

}
.name {
    margin: 0 10px;
}
.selected {
    color: gold !important;
}


@media (max-width: 560px) {
    .currentTime,
    .durationTime {
        margin: 5px;
        font-size: 14px;
    }

    .card {
        font-size: 15px;
    }
    .en {
        display: none;
    }
    .authors {
        text-align: right;
    }
    .playPause {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 320px) {
    .currentTime,
    .durationTime {
        margin: 2px;
        font-size: 12px;
    }
    .card {
        flex-direction: column;
        justify-content: space-around;
    }
    .authors {
        position: static;
    }

}